*, *::before, *::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html {
  font: .75rem/1.4 $t-base;

  @include breakpoint($bp-600) {
    font-size: 125%;
  }

  @include breakpoint($bp-900) {
    font-size: 145%;
  }

  @include breakpoint($bp-1024) {
    font-size: 160%;
  }

  @include breakpoint($bp-1200) {
    font-size: 165%;
  }

  @include breakpoint($bp-1650) {
    font-size: 175%;
  }
}

body {
  margin: 0;
  background: $c-background;
  color: $c-text;
  user-select: none;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

p {
  margin-bottom: 1.5rem;
}

i {
  font-weight: bold;
}

a {
  color: $c-link;
  cursor: pointer;
  text-decoration: none;

  &.ng-click-active {
    color: lighten($c-link, 10%);
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  &.default {
    list-style: disc;
    padding-left: 1.3rem;
  }
}

th {
  font-size: 1.3rem;
  padding: .75rem 0;
}

table {
  line-height: 1;
}

// Main layout

.main {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

.container.active {
  .main {
    top: 9.5rem;
  }
}

.content {
  padding: 0 1.5rem 1.5rem;
  transition: all .3s ease-out;

  @include breakpoint($bp-1650) {
    padding: 0 5.5rem;
    max-width: 2000px;
    margin: 0 auto;
  }
}
