// LAYOUT ======================================================================

// Clear Fix
.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Main layout

.main {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

.container.active {
  .main {
    top: 9.5rem;
  }
}

.content {
  padding: 0 1.5rem 1.5rem;

  @include breakpoint($bp-1650) {
    padding: 0 5.5rem;
  }
}

// alignment ===================================================================

// Floats
.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-text-center {
  text-align: center;
}

.l-text-right {
  text-align: right;
}

.l-text-left {
  text-align: left;
}

.l-no-margin-bottom {
  margin-bottom: 0;
}

.l-no-margin-top {
  margin-top: 0;
}

.l-half {
  float: left;
  width: 49%;
}

// state =======================================================================

.hidden {
  max-height: 0;
}

.fade {
  opacity: 0.5;
}

.ng-click-active {
  color: $c-text-subtle;
}

.ios7 {
  .mainNav_link {
    padding-top: 2rem;
  }

  nav.active {
    height: 4.45rem;
  }

  .mainHeader {
    transition: all .3s ease-out;
    padding-top: 2.5rem;
  }

  .slide {
    top: 7.05rem;
  }

  .container.active {
    .mainHeader {
      padding-top: 1.5rem;
    }

    .main {
      top: 10.5rem;
    }
  }
}

.slide {
    position: absolute;
    left: 0;
    top: 6.05rem;
    bottom: 0;
    width: 100%;
}

.slide.ng-enter {
    left: 100%;
}

.slide.ng-enter-active {
    left: 0;
}

.slide.ng-leave {
    left: 0;
}

.slide.ng-leave-active {
    left: -100%;
    opacity: .5;

    .timer {
      display: none;
    }
}
