// Colors
$c-text: #3E3E3E;
$c-link: lighten($c-text, 30%);
$c-link-hover: darken($c-link, 15%);
$c-background: #FBFBFB;
$c-header: #E2E2E2;
$c-highlight: #E44A2F;

.film_noir {
  color: $c-text;
  background: $c-background;

  a {
    color: $c-link;

    &.ng-click-active {
      color: $c-link-hover;
    }
  }

  h1 a {
    color: $c-background;

    &.ng-click-active {
      color: $c-text;
    }
  }

  .bar {
    background: $c-text;

    &.score0 {
      background: none;
    }
  }

  nav {
    background: $c-text;
  }

  .bar_wrap,
  .settings_select {
    background: $c-header;
  }

  .settings_option {
    &:nth-child(2n + 2) {
      background-color: darken($c-header, 5%);
    }

    &.ng-click-active {
      background-color: darken($c-header, 20%);
    }
  }

  .stats_link {
    color: $c-text;
  }

  .menuBtn {
    &:before {
      background: $c-text;
      box-shadow: 0 .75rem 0 0 $c-text, 0 1.5rem 0 0 $c-text;
    }

    &.ng-click-active:before {
      background: $c-link;
      box-shadow: 0 .75rem 0 0 $c-link, 0 1.5rem 0 0 $c-link;
    }
  }

  h2,
  h3,
  .bar.score0 {
    color: $c-text;
    background: none;
  }

  .mainNav_link {
    color: $c-background;
  }

  .mainNav_link.active {
    color: $c-link;
  }

  .btn {
    background-color: $c-text;
    color: $c-background;

    &.ng-click-active,
    &.invert {
      border: .25rem solid $c-text;
      background-color: $c-background;
      color: $c-text;
      line-height: 3.5rem;
    }

    &.invert.ng-click-active {
      border: none;
      background-color: $c-text;
      color: $c-background;
      line-height: 4rem;
    }
  }

  .stats {
    background-color: $c-header;
    background-image: linear-gradient(to bottom,$c-background 50%, $c-header 50%);

    tr:nth-child(2n + 3) {
      background: darken($c-header, 5%);
    }
  }

  .question {
    &.ng-click-active {
      span {
        background-color: $c-link-hover;
      }
    }
  }
}
