// Colors
$c-text: #333;
$c-button: #6cc644;
$c-button-hover: darken($c-button, 10%);
$c-link: #4183c4;
$c-link-hover: darken($c-link, 15%);
$c-background: #fff;
$c-header: #f3f3f3;

.github {
  color: $c-text;
  background: $c-background;

  a {
    color: $c-link;

    &.ng-click-active {
      color: $c-link-hover;
    }
  }

  h1 a {
    color: $c-background;

    &.ng-click-active {
      color: $c-text;
    }
  }

  .bar {
    background: $c-link;
  }

  .stats_link {
    color: $c-text;
  }

  nav,
  .bar_wrap {
    background: $c-header;
  }

  .settings_select {
    background: $c-header;
  }

  .settings_option {
    &:nth-child(2n + 2) {
      background-color: darken($c-header, 5%);
    }

    &.ng-click-active {
      background-color: darken($c-header, 15%);
    }
  }

  .menuBtn {
    &:before {
      background: $c-text;
      box-shadow: 0 .75rem 0 0 $c-text, 0 1.5rem 0 0 $c-text;
    }

    &.ng-click-active:before {
      background: $c-link;
      box-shadow: 0 .75rem 0 0 $c-link, 0 1.5rem 0 0 $c-link;
    }
  }

  h2,
  h3,
  .bar.score0 {
    color: $c-text;
    background: none;
  }

  .mainNav_link {
    color: $c-text;
  }

  .mainNav_link.active {
    color: $c-link;
  }

  .btn {
    background-color: $c-button;
    color: $c-background;

    &.ng-click-active {
      background-color: $c-button-hover;
    }

    &.ng-click-active,
    &.invert {
      border-color: $c-button;
      background-color: $c-background;
      color: $c-button;
    }

    &.invert.ng-click-active {
      border: none;
      background-color: $c-button;
      color: $c-background;
    }

    &.highlight {
      background-color: $c-link;

      &.ng-click-active,
      &.invert {
        border-color: c-link;
        background-color: $c-background;
        color: $c-link;
      }
    }
  }

  .stats {
    tr:nth-child(2n + 3) {
      background: darken($c-header, 5%);
    }
  }

  .question {
    &.ng-click-active {
      span {
        background-color: $c-link;
      }
    }
  }

  .input_border:after {
    background: $c-link;
  }

  .svg_button {
    fill: $c-button;
  }

  .step7-face > span {
    color: $c-button;
  }
  
  .plus.ng-click-active {
    color: $c-link;
  }
}
