// Colors
$c-text: #333;
$c-button: #3CF;
$c-button-hover: lighten($c-button, 10%);
$c-link: #3CF;
$c-link-hover: lighten($c-link, 10%);
$c-background: #fff;
$c-header: #f3f3f3;
$c-highlight: #E57250;

.ifttt {
  color: $c-text;
  background: $c-background;

  a {
    color: $c-link;

    &.ng-click-active {
      color: $c-link-hover;
    }
  }

  h1 a {
    color: $c-background;

    &.ng-click-active {
      color: $c-text;
    }
  }

  .bar {
    background: $c-highlight;

    &.score0 {
      background: none;
    }
  }

  nav,
  .bar_wrap {
    background: $c-header;
  }

  .settings_select {
    background: $c-header;
  }

  .stats_link {
    color: $c-text;
  }

  .menuBtn {
    &:before {
      background: $c-text;
      box-shadow: 0 .75rem 0 0 $c-text, 0 1.5rem 0 0 $c-text;
    }

    &.ng-click-active:before {
      background: $c-link;
      box-shadow: 0 .75rem 0 0 $c-link, 0 1.5rem 0 0 $c-link;
    }
  }

  h2,
  h3,
  .bar.score0 {
    color: $c-text;
  }

  .mainNav_link {
    color: $c-text;
  }

  .mainNav_link.active {
    color: $c-link;
  }

  .btn {
    background-color: $c-button;
    color: $c-background;

    &.ng-click-active,
    &.invert {
      border: .25rem solid $c-button;
      background-color: $c-background;
      color: $c-button;
      line-height: 3.5rem;
    }

    &.invert.ng-click-active {
      border: none;
      background-color: $c-button;
      color: $c-background;
      line-height: 4rem;
    }
  }

  .stats {
    background-color: $c-header;
    background-image: linear-gradient(to bottom,$c-background 50%, $c-header 50%);
  }

  .question {
    &.ng-click-active {
      span {
        background-color: $c-link-hover;
      }
    }
  }
}
