// Colors
$c-text: #333;
$c-button: #3CF;
$c-button-hover: lighten($c-button, 10%);
$c-link: #3CF;
$c-link-hover: lighten($c-link, 10%);
$c-background: #fff;
$c-header: #f3f3f3;
$c-highlight: #E04400;

body {
  color: $c-text;
  background: $c-background;
}

a {
  color: $c-link;

  &.ng-click-active {
    color: $c-link-hover;
  }
}

h1 a {
  background: $c-header;
  color: $c-text;

  &:after {
    border-top-color: $c-header;
  }
}

.bar {
  background: $c-highlight;
}

nav,
.bar_wrap {
  background: $c-header;
}

.settings_select {
  background: $c-header;

  &:active {
    background-color: darken($c-header, 15%);
  }
}

.menuBtn {
  &:before {
    background: $c-text;
    box-shadow: 0 .75rem 0 0 $c-text, 0 1.5rem 0 0 $c-text;
  }

  &.ng-click-active:before {
    background: $c-link;
    box-shadow: 0 .75rem 0 0 $c-link, 0 1.5rem 0 0 $c-link;
  }
}

h2,
h3,
.bar.score0 {
  color: $c-text;
}

.mainNav_link {
  color: $c-text;
}

.mainNav_link.active {
  color: $c-link;
}

a.btn {
  background-color: $c-button;
  color: $c-background;

  &.ng-click-active {
    background-color: $c-button-hover;
  }
}
