<section>
  <label for="{{selectLabel | lowercase}}" class="settings_label">{{selectLabelSpecial ? selectLabelSpecial : selectLabel}}</label>
  <div id="{{selectLabel | lowercase}}" class="settings_select {{selectClass}} {{activeSetting === selectLabel ? 'active' : ''}}" style="{{activeSetting === selectLabel ? selectHeight(selectItems.length) : ''}}">

    <div ng-repeat="selectItem in selectItems | movefirst: selectedItem.id" class="settings_option" ng-class="{active: selectedItem == selectItem}" ng-click="saveSetting(selectLabel, selectItem, $index)">
      <span>{{selectItem.name}}</span>
      <lock ng-if="!$root.isFull && !selectItem.free" ng-class="{skin_lock: selectSkins}"></lock>
      <span ng-if="selectSkins" ng-repeat="color in selectItem.colors" class="skin_color" ng-style="{'background-color': color}"></span>
    </div>
  </div>
</section>
