.btn {
  background-color: $c-link;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 2rem;
  display: block;
  color: $c-header;
  margin-bottom: 1.5rem;

  &.question_inner {
    font-size: .75rem;
    line-height: 2;
    width: 1.5rem;
    margin: 1rem 1rem 1rem 0;
  }

  &.ng-click-active,
  &.invert {
    border: .25rem solid $c-link;
    background-color: $c-background;
    color: $c-link;
    line-height: 3.5rem;
  }

  &.invert.ng-click-active {
    border: none;
    background-color: $c-link;
    color: $c-header;
    line-height: 4rem;
  }

  &.highlight {
    background-color: $c-highlight;

    &.ng-click-active,
    &.invert {
      border: .25rem solid $c-highlight;
      background-color: $c-background;
      color: $c-highlight;
      line-height: 3.5rem;
    }
  }

  &.small {
    font-size: 1rem;
    line-height: 2rem;
    display: inline-block;
    padding: .25rem 1rem;
    margin-bottom: 0;

    &.ng-click-active,
    &.invert {
      border: .2rem solid $c-link;
      background-color: $c-background;
      color: $c-link;
      line-height: 1.6rem;
      padding: .25rem .8rem
    }
  }
}

.btn--no-overflow {
  overflow: hidden;
  height: 4rem;
}

.btn_text {
  transition: transform .25s ease-out;
  transform: translateY(0);
}

.btn_text--bottom {
  transform: translateY(100%);
}

.btn_text--top {
  transform: translateY(-100%);
}

.question {
  display: inline-block;

  &.ng-click-active {
    span {
      background-color: $c-link-hover;
    }
  }
}

.continue {
  margin-left: 2%;
}
