// FOOTER ======================================================================

footer {
  background-color: $c-header;
  border-radius: 4rem;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 0;
}
