// FOOTER ======================================================================

footer {
  background-color: darken($c-background, 10%);
  border-radius: 4rem;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 0;
}
