.slide.view_rules1,
.slide.view_rules2 {
  margin-top: 4.5rem;

  h3 {
    margin-top: 1.5rem;
  }
}

.container.active {
  .slide.view_rules1,
  .slide.view_rules2 {
    top: 12rem;
  }
}

.rules_nav {
  margin-top: .6rem;
  transform: translateX(0);
  transition: transform .3s ease-out;

  a {
    margin-right: .5rem;

    &:first-child {
      margin-left: 1.5rem;
    }
  }
}

.rules_nav.ng-enter {
  transform: translateX(100%);
}

.rules_nav.ng-enter-active {
  transform: translateX(0);
}

.rules_nav.ng-leave {
  transform: translateX(0);
}

.rules_nav.ng-leave-active {
  transform: translateX(-100%);
}
