// SCORING =====================================================================

.scoring {
  h3 {
    padding-left: 1.4rem;
    font-size: 2rem;
    line-height: 1.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: .35rem;
    margin-bottom: 0;
  }
}

.bar_wrap,
.bar {
  border-radius: 4rem;
  position: relative;
}

.bar_wrap {
  background-color: $c-header;
  margin: .5rem 0 1.5rem;
}

.bar {
  background-color: $c-highlight;
  color: white;
  cursor: pointer;
  padding: 0 1.5rem;
  font-size: 2rem;
  line-height: 4rem;
  width: 0;
  transition: all .3s ease-out;
}

.bar.score0 {
  background: none;
  color: $c-text;
}

.plus {
  position: absolute;
  top: -.6rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  padding: .1rem 1.1rem .2rem 1rem;
}

.page_score_btn {
  margin-top: 1.5rem;
}
