// SETTINGS ====================================================================

.settings {
  margin-bottom: 2.65rem;

  label {
    font-size: 1.5rem;
    margin-left: .5rem;
  }

  select,
  option {
    font-family: $t-base;
  }
}

.settings_select {
  display: block;
  position: relative;
  width: 100%;
  color: mainColor;
  border-radius: 1.3rem;
  background-color: darken($c-background, 10%);
  font-size: 1rem;
  line-height: 2.7rem;
  margin: .25rem 0 .5rem;
  height: 2.7rem;
  overflow: hidden;
  transition: all .3s ease-out;

  &:before {
    transition: all .3s ease-out;
    border: .5rem solid transparent;
    border-top-color: $c-text;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 1.2rem;
    right: 1.25rem;
  }

  &.active:before {
    top: .7rem;
    border-top-color: transparent;
    border-bottom-color: $c-text;
  }
}

.settings_option {
  padding: 0 1.25rem;
  cursor: pointer;

  &:nth-child(2n + 2) {
    background-color: darken($c-background, 13%);
  }

  &.ng-click-active {
    background-color: darken($c-background, 20%);
  }
}
