// SETTINGS ====================================================================

.settings {
  margin-bottom: 2.65rem;

  select,
  option {
    font-family: $t-base;
  }
}

.settings_label {
  font-size: 1.5rem;
  margin-left: 1.2rem;
}

.settings_select {
  display: block;
  position: relative;
  width: 100%;
  color: mainColor;
  border-radius: 1.3rem;
  background-color: $c-header;
  font-size: 1rem;
  line-height: 2.7rem;
  margin: .25rem 0 .5rem;
  height: 2.7rem;
  overflow: hidden;
  transition: all .3s ease-out;

  &:before {
    transition: all .3s ease-out;
    border: .5rem solid transparent;
    border-top-color: $c-text;
    pointer-events: none;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 1.2rem;
    right: 1.25rem;
  }

  &.active:before {
    top: .7rem;
    border-top-color: transparent;
    border-bottom-color: $c-text;
  }

  &.skin_settings:before {
    display: none;
  }
}

.settings_option {
  padding: 0 1.25rem;
  cursor: pointer;
  position: relative;

  &:first-child > .lock:not(.skin_lock) {
    right: 3rem;
  }

  &:nth-child(2n + 2) {
    background-color: darken($c-header, 2%);
  }

  &.ng-click-active {
    background-color: darken($c-background, 10%);
  }
}

.skin_color {
  float: right;
  display: block;
  margin-right: .5rem;
  margin-top: .9rem;
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;

  &:nth-child(2) {
    margin-right: 0;
  }
}

.lock {
  position: absolute;
  top: .6rem;
  right: 1rem;
  width: 1.5rem;

  &.skin_lock {
    right: 6.5rem;
  }
}
