.stats {
  // padding: .5rem 2.5rem .5rem 1.5rem;
  margin: 1.5rem -1.5rem -1.5rem;
  background-color: $c-header;
  background-image: linear-gradient(to bottom,$c-background 50%, $c-header 50%);
  background-repeat: repeat-x;
  background-size: 5.75rem 5.75rem;
  background-position: 0 top;

  @include breakpoint($bp-1650) {
    padding: .5rem 6.5rem .5rem 5.5rem;
    margin: 1.5rem -5.5rem 0;
  }

  tr:nth-child(2n + 3) {
    background: darken($c-header, 2%);
  }
}

.stats_table {
  width: 100%;
  table-layout: fixed;
}

.stats_table_name_header {
  padding-left: 2.25rem;
}

.stats_table_name {
  width: 81%;

  .btn.question_inner {
    margin: 0;
  }
}

.stats_table_time,
.stats_table_time_header {
  padding-right: 2.25rem;
  width: 19%;
}

.stats_table_time_header a {
  width: 4.5rem;
  display: block;
}

.stats_link {
  display: inline-block;
  padding: 1rem 1rem 1rem 2.25rem;
  color: $c-text;
  max-width: 89%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.glyph_icon {
  font-size: .5rem;
  position: relative;
  top: -.15rem;
}
