.svg {
  font-size: 2.8rem;

  @include breakpoint($bp-600) {
    font-size: 1.6rem;
  }

  text {
    fill: lighten($c-text, 30%);
  }

  g {
    fill: $c-text;
  }
}

.device {
  font-size: 1.2rem;

  @include breakpoint($bp-600) {
    font-size: .75rem;
  }

  @include breakpoint($bp-900) {
    font-size: .6rem;
  }

  text {
    fill: $c-text;
  }
}

.svg--gray {
  fill: lighten($c-text, 50%);
}

.svg--white {
  text {
    fill: darken($c-background, 30%);
  }

  g {
    fill: $c-background;
  }
}

.svg_chrome{
  fill: darken($c-background, 20%);
}

.svg_device{
  fill: $c-text;
}

.svg_button{
  fill: $c-link;
}
