.tutorial h2 {
  text-align: center;
  margin: 2rem 0;
}

.circle-container {
  margin: 0 auto;
  top: -6rem;
  @include putOnCircle(6, 24rem, 5rem);

  text {
    fill: $c-link;
  }

  li:nth-child(2n+2) text {
    fill: $c-highlight;
  }
}

.tutorial-directions {
  font-weight: bold;
  list-style: disc;

  > li {
    margin-bottom: 1rem;
  }
}

.step1-directions {
  position: relative;
  top: 10.8rem;
  left: 1rem;
  margin: 0 auto;
  width: 13rem;
}

.step2-directions {
  width: 50%;
  padding-left: 1.2rem;
  float: left;
  padding-right: 1rem;
}

.step2-face {
  width: 50%;
  float: right;
  position: relative;

  > .bubble {
    position: absolute;
    top: -4rem;
    left: 32%;
  }

  > svg {
    width: 36%;
    position: relative;
    top: -3rem;
    max-height: 6rem;
    margin-left: 10%;

    &:nth-child(2) {
      margin-left: 0;
    }
  }
}
