.tutorial {
  position: absolute;
  background: transparentize($c-text, .2);
  color: $c-background;
  z-index: 1000;
  text-align: center;
  padding-top: 7.2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;

  &.ng-enter {
    opacity: 0;
    transition: all .3s ease-out;
  }

  &.ng-enter-active {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
  }

  h2,
  h3 {
    color: $c-background;
  }

  h2 {
    margin-bottom: 3.4rem;
  }
}
