<div class="content">
  <section class="rules">
    <h2>About</h2>
    <p>Hi I'm <a ng-click="openUrl('http://stinogle.com')">Rob Stinogle</a>. I created this game as a test for using AngularJS and PhoneGap as development tools. It's completely open source, and I encourage you to contribute. Thanks for playing!</p>
    <h3>Links</h3>
    <p class="l-no-margin-bottom"><a href="https://github.com/stinoga/phrase">Github Repo</a></p>
    <p class="l-no-margin-bottom"><a href="https://github.com/stinoga/phrase/tree/master/app/data">Word Lists</a></p>
    <p><a href="https://twitter.com/stinogle">@stinogle</a></p>
    <h3>Thanks</h3>
    <p><a href="https://twitter.com/jswartwood">Jake Swartwood</a>, for teaching me the great things javascript can do.</p>
    <p><a href="https://twitter.com/laurengray">Lauren Gray</a>, for encouraging me to push through and finish, and for her damn fine design eye.</p>
  </section>
</div>
