<div class="content">
  <div class="win cf">
    <h2 class="win_header" ng-repeat="team in teams" ng-if="team.winner" ng-bind-template="{{team.name}} Wins!"></h2>
    <h3 class="win_score">
      <span ng-repeat="team in teams | orderBy:'winner':true" class="win_score">{{team.score}}{{$index === 0 ? ' - ' : ''}}</span>
    </h3>
  </div>
  <div ng-repeat="(key, superlative) in superlatives" class="stats_wrapper">
    <h3 class="stats_header">{{key | sentencecase}} word</h3>
    <div class="stats_content">
      <table>
        <tr>
          <td class="stats_table_name">{{superlative.name}}</td>
          <td class="l-text-right stats_table_time">{{superlative.time}}</td>
        </tr>
      </table>
    </div>
  </div>
  <a ng-click="newGame()" class="btn spacer">Another Round?</a>
</div>
