<div class="content">
  <section class="unlock">
    <h2>Unlock Pop Phrase</h2>
    <ul class="default">
      <li>Access all categories</li>
      <li>Access to future categories</li>
      <li>Multiple app skins</li>
      <li>Visual and audible timers</li>
      <li>First notification of new features</li>
    </ul>
    <a ng-click="go('/play')" class="btn l-top-15 l-bottom-3">Upgrade</a>
  </section>
  <section class="purchased">
    <h2>Already Purchased?</h2>
    <p>Restore your full version below.</p>
    <a ng-click="go('/play')" class="btn l-top-15">Restore</a>
  </section>
</div>
