<div class="content">
  <section class="home">
    <a ng-click="go('/tutorial/1')" class="btn l-center-btn spacer highlight">T1</a>
    <a ng-click="go('/tutorial/2')" class="btn l-center-btn spacer highlight">T2</a>
    <a ng-click="newGame()" class="btn l-center-btn spacer">New Game</a>
    <a ng-click="go('/full-version')" ng-if="!isFull" class="btn l-center-btn spacer highlight">Full Version</a>
    <a ng-click="go('/start')" ng-if="continueGame" class="btn l-center-btn spacer invert">Continue Game</a>
    <a ng-click="go('/settings')" class="btn l-center-btn spacer invert">Settings</a>
    <a ng-click="go('/rules')" class="btn l-center-btn spacer invert">Rules</a>
    <a ng-click="go('/full-version')" ng-if="isFull" class="btn l-center-btn spacer invert">Full Version</a>
    <p class="l-text-center">A game by <a ng-click="go('/about')">Rob Stinogle</a></p>
  </section>
</div>
