<div class="content">
  <section class="home">
    <p class="l-no-margin-top">Have you ever played Catch Phrase? Well, welcome to a better way to play. We are using the latest trending searches on the net to power this baby, so you'll always be playing with the latest and greatest happening around the world. Don't want to play with popular phrases? That's fine too. We've got a few categories you'll like.</p>
    <a ng-click="newGame()" ng-class="{'l-half': continueGame}" class="btn btn_home spacer">New Game</a>
    <a ng-click="go('/play')" ng-if="continueGame" class="btn l-half spacer invert continue">Continue Game</a>
  </section>
</div>
