<div class="content">
  <section ng-repeat="team in teams" class="scoring cf">
    <h3 ng-bind-template="T{{team.id}}" class="team"></h3>
    <div class="bar_wrap">
      <div id="plus{{team.id}}" ng-click="saveScore(team.id, true)" class="plus">+</div>
      <div id="bar{{team.id}}" ng-click="saveScore(team.id)" style="width: {{(team.score / 7) * 100}}%" ng-bind-template="{{team.score}}" class="bar score{{team.score}}"></div>
    </div>
  </section>
  <section class="stats cf">
    <table class="stats_table">
      <tr>
        <th class="l-text-left" sort order="'name'" by="order" reverse="reverse">Words</th>
        <th class="l-text-right stats_table_time" sort order="'time'" by="order" reverse="reverse">Time</th>
      </tr>
      <tr ng-repeat="roundWord in roundWords | orderBy:order:reverse">
        <td class="stats_table_name">{{roundWord.name}} <a href="https://www.google.com/#q={{roundWord.name}}">?</a></td>
        <td class="l-text-right">{{roundWord.time === 999 ? 'DNF' : roundWord.time + 's'}}</td>
      </tr>
    </table>
  </section>
  <div class="next_container">
    <a ng-click="go('/play')" class="btn spacer">Next Round</a>
  </div>
</div>
