<div class="content">
  <div class="settings">
    <ph-select
      select-label="Category"
      select-items="Categories"
      active-setting="active"
    ></ph-select>
    <ph-select
      select-label="Timer"
      select-items="Timers"
      active-setting="active"
    ></ph-select>
    <ph-select
      select-label="TimerLength"
      select-label-special="Timer Length"
      select-items="TimerLengths"
      active-setting="active"
    ></ph-select>
    <ph-select
      select-label="Skin"
      select-class="skin_settings"
      select-items="Skins"
      select-skins="true"
      active-setting="active"
    ></ph-select>
  </div>
  <a ng-click="go('/play')" class="btn spacer">Play</a>
</div>
