<div class="content">
  <section>
    <h2>Thanks! You rock!</h2>
    <p class="l-bottom-1">You can now use all the coolest features of Pop Phrase:</p>
    <ul class="default">
      <li>Access all categories</li>
      <li>Access to future categories</li>
      <li>Multiple app skins</li>
      <li>Visual and audible timers</li>
      <li>First notification of new features</li>
    </ul>
    <p>Have a suggestion? Want to add some new phrases? Pop Phrase is open source! You can check it out <a ng-click="openUrl('https://github.com/stinoga/phrase')">here</a>.</p>
    <a ng-click="go('/play')" class="btn l-top-15">Play</a>
  </section>
</div>
