<div class="content" ng-switch on="page">
  <section ng-switch-when="1" class="tutorial tutorial-{{page}} cf">
    <ul class="step1-face cf">
      <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
    </ul>
    <h2>First time?</h2>
    <p>Find some friends and split into two teams.</p>
  </section>
  <section ng-switch-when="2" class="tutorial tutorial-{{page}} cf">
    <div class="step2-face">
      <ul class="circle-container">
        <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
        <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
        <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
        <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
        <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
        <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
      </ul>
    </div>
    <p>Alternate players in a circle.</p>
  </section>
  <section ng-switch-when="3" class="tutorial tutorial-{{page}} cf">
    <div class="step3-face">
      <device class="svg device" device-text="Jimmy" device-text-2="Fallon"></device>
      <face class="svg" face-type="playerFace" face-text="1"></face>
      <div class="bubble">Tonight Show host</div>
    </div>
    <h2>Jimmy Fallon</h2>
    <p>Describe the phrase to your team.</p>
  </section>
  <section ng-switch-when="4" class="tutorial tutorial-{{page}} cf">
    <div class="step4-face">
      <face class="svg" face-type="sadFace" face-text="1"></face>
      <div class="bubble bubble1">Jimmy</div>
      <div class="bubble bubble2">Name rhymes with talon</div>
      <div class="bubble bubble--left bubble3">First letter is...</div>
    </div>
    <h2>Jimmy Fallon</h2>
    <p>Say any of these and you lose the round.</p>
  </section>
  <section ng-switch-when="5" class="tutorial tutorial-{{page}} cf">
    <div class="step5-face">
      <face class="svg" face-type="happyFace" face-text="1"></face>
      <device class="svg device" device-text="Jimmy" device-text-2="Fallon"></device>
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
      <face class="svg" face-type="playerFace" face-text="2"></face>
    </div>
    <p>If your team guesses right, pass the game.</p>
  </section>
  <section ng-switch-when="6" class="tutorial tutorial-{{page}} cf">
    <div class="step6-face">
      <device class="svg device" device-text="??????"></device>
    </div>
    <h2>Don't know a phrase?</h2>
    <p>Skip it, but now you have to describe two.</p>
  </section>
  <section ng-switch-when="7" class="tutorial tutorial-{{page}} cf">
    <div class="timer terrify">{{timeLeft}}</div>
    <div class="step7-face">
      <face class="svg" face-type="sadFace" face-text="2"></face>
      <device class="svg device" device-text="poop"></device>
      <face class="svg" face-type="happyFace" face-text="1"></face>
      <span class="plus-one">+1</span>
    </div>
    <p>When time runs out, the team without the game scores.</p>
  </section>
  <section ng-switch-when="8" class="tutorial tutorial-{{page}} cf">
    <div class="step8-face">
      <face class="svg" face-type="winFace" face-text="1"></face>
    </div>
    <h2>First to seven wins!</h2>
    <p>These are the basic rules. Head to the <a ng-click="go('/rules/1')">rules page</a> for full rules and game variations.</p>
  </section>
</div>
