<div class="content" ng-swipe-left="tutorialNext()" ng-swipe-right="tutorialNext()">
  <section class="tutorial cf">
    <div class="word">Rickroll</div>
    <div class="cf">
      <ol class="tutorial-directions step2-directions">
        <li>Describe the phrase to your team.</li>
      </ol>
      <div class="step2-face">
        <face class="svg" face-type="playerFace" face-text="1"></face>
        <div class="bubble">Musician Astley...</div>
      </div>
    </div>
    <div class="l-top-15 cf">
      <ol class="tutorial-directions step2-directions">
        <li>Say any part of the phrase, and you lose the round.</li>
      </ol>
      <div class="step2-face">
        <face class="svg" face-type="sadFace" face-text="1"></face>
        <div class="bubble">Rick Astley...</div>
      </div>
    </div>
    <div class="l-top-15 cf">
      <ol class="tutorial-directions step2-directions">
        <li>If your team guesses right, pass the game.</li>
      </ol>
      <div class="step2-face">
        <face class="svg" face-type="happyFace" face-text="1"></face>
        <face class="svg" face-type="playerFace" face-text="1"></face>
      </div>
    </div>
  </section>
  <h3 class="l-text-center">Swipe for more ></h3>
  <p class="l-text-center l-text-lightest">Tap logo to leave tutorial.</p>
</div>
