<!-- <div>
  <a ng-click="c"></a>
  <div ng-if="pageName === 'home'">
    <h2>First time?</h2>
    <ol class="tutorial-directions">
      <li>Find some friends.</li>
      <li>Split into two teams.</li>
      <li>Aternate players in a circle.</li>
    </ol>
    <ul class="circle-container">
      <li><face class="svg--white" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg--white" face-type="happyFace" face-text="2"></face></li>
      <li><face class="svg--white" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg--white" face-type="happyFace" face-text="2"></face></li>
      <li><face class="svg--white" face-type="playerFace" face-text="1"></face></li>
      <li><face class="svg--white" face-type="happyFace" face-text="2"></face></li>
    </ul>
  </div>
  <div ng-if="pageName === 'play'">
    <p>One the game starts, the player holding the game describes the phrase to their teammates.</p>
    <p>This player can do anything to describe phrase, <i>except:</i></p>
    <ol>
      <li>Say the phrase, or any part of it.</li>
      <li>Say a word that rymes with the phrase.</li>
      <li>Give any letters in the phrase.</li>
    </ol>
    <p>Ony the team guesses the phrase, the game is handed to the next player. They press next and describe the next phrase.</p>
    <p>Once the time is up, the team not holding the game wins the round.</p>
  </div>
  <div ng-if="pageName === 'score'"></div>
</div> -->

<div class="content" ng-swipe-left="tutorialNext()" ng-swipe-right="tutorialNext()">
  <section class="tutorial">
    <h2>First time?</h2>
    <ol class="tutorial-directions">
      <li>Find some friends.</li>
      <li>Split into two teams.</li>
      <li>Aternate players in a circle.</li>
    </ol>
    <ul class="circle-container">
      <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="1"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
      <li><face class="svg" face-type="playerFace" face-text="1"></face></li>
      <li><face class="svg" face-type="happyFace" face-text="2"></face></li>
    </ul>
  </section>
</div>
